@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* 背景部分（アニメーションなし） */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 背景は静的 */
  z-index: 100;
}

/* モーダル中身（アニメーションあり） */
.modalContent {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  /* width: 80%; */
  position: relative;
  animation: fadeIn 0.3s ease-out; /* フェードイン */
}

.modalContent.modalClosing {
  animation: fadeOut 0.3s ease-out; /* フェードアウト */
}

/* 閉じるボタンのデザイン */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
